@import '../common/variables';

// font Google - Destaque: Open Sans, Principal: Saira Extra Condensed
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Saira+Extra+Condensed');

body{
    font-family: $fontConteudo;
    background-color: $verdeFraco;
}

nav{
    font-family: $fontTitulo;
}