// Definicao das variaves comuns do app

//-- colors
$verdeFraco: #d9e2ac;
$verdeForte: #7ea45e;
$lilasFraco: #842b45;
$lilasForte: #a92e45;
$amareloFraco: #f2dea6;

$brancoGelo: #ddd9ce;

//-- fonts
$fontTitulo: "\'Saira Extra Condensed\', sans-serif";
$fontConteudo: "\'Open Sans\', sans-serif";
